.task {
    display: flex;
    margin-bottom: 10px;
}

.task > button {
    background: none;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 5px;
    cursor: pointer;
}

.task__completed {
    color: grey;
    text-decoration: line-through;
}